<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>
  </head>
  <body>
    <h1>Chat</h1>
    <p>Logged in as {{email}}</p>
    <div id="messages"></div>
    <form id="message-form">
      <input type="text" name="text" placeholder="Type a message...">
      <button>Send</button>
    </form>
    <script src="../chat/socket.js"></script>
  </body>
</html>