
<h1>Chat</h1>
<p>Logged in as {{email}}</p>

<button type="button" onclick = 'window.location = "/"' id="homeBTN" class="homeBTN"><span>HOME</span></button>

<div id="messages" style="height: 400px; overflow: scroll"></div>

<form id="message-form">

  <input type="text" id="messageBox" placeholder="Type your message here" style="display: block; width: 100%; margin-bottom: 10px; padding: 10px;" />

  <button id="send" title="Send Message!">Send Message</button>

</form>
<script src="./client.js" type="module"></script>