<div>

    <h1 class="title"> 3ra ENTREGA !</h1>

    <button type="button" onclick = 'window.location = "/login"' id="logInBTN" class="homeBTN"><span>Log IN</span></button>

    <button type="button" onclick= 'window.location = "/signup"' id="signupBTN" class="homeBTN"><span>Sign Up</span></button>

    {{#if loggedin = true}}
        <div>
            {{>product-table}}
        </div>
    {{/if}}

</div>
