<div>

    <button type="button" onclick = 'window.location = "/api/auth/login"' id="logInBTN" class="homeBTN"><span>Log IN</span></button>

    <button type="button" onclick= 'window.location = "/api/auth/signup"' id="signupBTN" class="homeBTN"><span>Sign Up</span></button>


    {{#if user}}
        {{> extraButtons}}
    {{/if}}
    
</div>
