<div>

    <h2>LogIn</h2>

    <form id="loginForm" action="">

        <input name="email" placeholder="Ingrese Email"/>
        <input type="password" name="password" placeholder="Ingrese Password"/>

        <input type="submit" value="iniciar"/>

    </form>

</div>

<script type="module" src="/js/logIn.js"></script>