  <h2>Sign Up</h2>
  <button type="button" onclick='window.location = "/"' id="homeBTN" class="homeBTN"><span>HOME</span></button>
  <form id="signupForm" action="/signup" method="POST">
    <input type="text" name="name" placeholder="Nombre" required />
    <input type="text" name="lastname" placeholder="Apellido" required />
    <input type="number" name="age" placeholder="Edad" required />
    <input type="tel" name="number" placeholder="Telefono" required />
    <input type="email" name="email" placeholder="email" required />
    <input type="password" name="password" placeholder="Password" required />

    <input class="homeBTN" type="submit" value="SignUp" />
  </form>


<script>
  const form = document.querySelector('#signupForm');
  form.addEventListener('submit', async (e) => {
    e.preventDefault();

    const name = form.elements['name'].value;
    const lastname = form.elements['lastname'].value;
    const age = form.elements['age'].value;
    const number = form.elements['number'].value;
    const email = form.elements['email'].value;
    const password = form.elements['password'].value;

    const response = await fetch('/signup', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({ name, lastname, age, number, email, password })
    });

    if (response.ok) {
      console.log('SignUp successful!');
      window.location.href = '/'; 
    } else {
      console.log('Error during SignUp.');
    }
  });
</script>