<div>
  <button
    type="button"
    onclick='window.location = "/api/docs"'
    id="docsBTN"
    class="homeBTN"
  ><span>Documentation</span></button>

  <button
    type="button"
    onclick='window.location = "/chat"'
    id="chatBTN"
    class="homeBTN"
  ><span>Chat</span></button>
</div>